* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

html, body {
  height: 100%;
  overflow: hidden; /* Ensure there's no overflow on smaller screens */
}

.header img{
  position: absolute;
  height: 80px;
  left: 30px;
}

input{
  margin-top: 15px;
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 11, 168);
  box-shadow: 1px 1px black;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  position: relative; /* Ensure it stays at the top */
}

.logo {
  position: absolute;
  left: 120px;
  margin-top: 0px;
  display: flex;
}

#logoimagehead{
  cursor: pointer;
}

.logo p{
  position: absolute;
  width: 300px;
  left: 350px;
  top: 20px;
  line-height: 1.2;
  cursor: pointer;
}

.logo h1 {
  font-size: 50px;
  cursor: pointer;
}

/* Adjusted height for the map to fit in the available space */
#map {
  position: absolute; /* Change to absolute positioning */
  top: 80px; /* Move down by the header height */
  bottom: 50px; /* Set bottom to the height of the lower div */
  width: 100%; /* Full width */
  z-index: 1;
}

.lower {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 11, 168);
    box-shadow: 1px 1px black;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    position: absolute; /* Change to absolute positioning */
    bottom: 0; /* Fixes position at the bottom */
}

.indicator {
  background-color: white;
  height: 160px;
  width: 180px;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  right: 30px;
  top: 100px; /* Adjust the top position if needed */
  padding: 15px;
  z-index: 2; /* Ensure indicator is above the map */
}

.indicator p {
  color: black;
  margin: 10px 0; /* Adjust spacing between lines */
  font-size: 12px;
  display: flex;
  align-items: center;
}

.indicator h1{
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 500;

}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.black{
  background-color: rgb(68, 68, 68);
}

.btn {
  padding: 3px 20px;
  margin: 10px;
  background-color: white;
  color: rgb(0, 11, 168);
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: lightgray;
}

.lower {
  display: flex;
  align-items: center;
}

#logout{
  margin-left: 850px;
}



.hidden {
  display: none;
}

canvas {
  max-width: 100%;
  height: 400px;
}

.sensormodal {
  display: none;
  position: fixed;
  top: 20%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.6); /* Dark semi-transparent overlay */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 10px;
}

/* Modal Content Box */
.modal-content {
  background: linear-gradient(145deg, #010058, #010058); /* Subtle blue gradient */
  color: white;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Softer shadow */
  text-align: left;
}

/* Close Button */
.close-btn {
  float: right;
  font-size: 24px;
  font-weight: bold;
  color: #d1eaff;
  cursor: pointer;
}

.close-btn:hover {
  color: #ffffff; /* White on hover */
}

/* Title Styling */
.modal-content h4 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Form Styling */
#addSensorForm label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #cfe2ff; /* Light blue label color */
}

#addSensorForm input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #f1f5fc; /* Light background for inputs */
  color: #333; /* Darker input text color */
  font-size: 14px;
  box-sizing: border-box;
}

/* Button Styling */
#addSensorForm button {
  width: 250px;
  padding: 10px;
  background-color: #ff9800; /* Orange for contrast */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-right: 20px;
}

#addSensorForm button:hover {
  background-color: #ffb74d; /* Lighter orange on hover */
}

#historyModal {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1300px;
  height: 450px;
  background-color: #07034f; /* White background */
  border: 1px solid #ccc; /* Light border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Inner padding */
}

#historyModal .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

#historyModal h3 {
  margin-top: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#historyModal p {
  text-align: center;
  margin: 20px 0;
}

 /* Modal background overlay */
 #confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it is above other content */
}

/* Modal content box */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

/* Modal buttons container */
.modal-buttons {
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Confirm button styling */
#confirm-delete-btn {
  background-color: #d9534f;
  color: white;
}

/* Cancel button styling */
#cancel-delete-btn {
  background-color: #5bc0de;
  color: white;
}


#updateModal {
  width: 300px;
  height: 240px;
  background-color: #020140;
  display: none;
  position: absolute;
  z-index: 2;
  left: 10%;
  top: 20%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Softer shadow for depth */
  border-radius: 10px;
  padding: 10px;

}

.update-header{
  text-align: center;
  width: 100%;
}

.update-label{
  display: flex;
  position: absolute;
  flex-direction: column; /* Align items in a column */
  gap: 18px; /* Optional: Add space between labels */
  margin-top: 15px;
  margin-left: 27px;
}

.update-label label{
  font-size: 13px;
}

.update-input{
  display: flex;
  position: absolute;
  flex-direction: column; /* Align items in a column */
  margin-left: 100px;
}

.update-input select{
  margin-top: 10px;
}

.update-buttons {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  align-items: center; /* Centers the buttons vertically (if height applies) */
  gap: 10px; /* Optional: Adds spacing between buttons */
  margin-top: 170px; /* Optional: Adjusts the container's position */
}

.update-buttons button {
  width: 100px;
  color: #020140;
}

#updateModal input{
  font-size: 13px;
  color: black;
  width: 250;
}



#historyModal {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1300px;
  height: 450px;
  background-color: #07034f; /* White background */
  border: 1px solid #ccc; /* Light border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  border-radius: 8px; /* Rounded corners */
  z-index: 1000; /* Ensure it appears on top */
  padding: 20px; /* Inner padding */
}


#historyModal h3 {
  margin-top: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#historyModal p {
  text-align: center;
  margin: 20px 0;
}



#fill{
  background-color: white ;
  width: 1300px;
  height: 25px;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  flex-direction: row; /* Arrange items in a column */
  gap: 10px; /* Add spacing between buttons */
  align-items: center; /* Center buttons horizontally */
} 
#fill button{
  width: 100px;
  height: 28px;
  color: white;
  background-color:#020140 ;
  position: absolute;
  right: 25%;
  border-radius: 5px;
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336; /* Red color for the close button */
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#closeButton:hover {
  background-color: #d32f2f; /* Darker red for hover effect */
}

#fill label{
  color: #020140;
  font-size: 12px;
}

#fill input{
  margin-bottom: 15px;
  width: 150px;
  color: #020140;
  border: 1px solid;
}

#fill option{
  width: 150px;
  color: #020140;
}

#fill select{
  color: #020140;
  border: 1px solid;
  width: 240px;
}

#historycontainer{
  width: 1300px;
  height: 380px;
  background-color: white;
  position: absolute;
  margin-top: 60px;
}


#analyticsmodal {
  display: none; /* Initially hidden */
  flex-direction: column;
  padding: 20px;
  background-color: #020140;
  border-radius: 5px;
  width: 1000px;
  height: 450px;
  position: relative; /* To position the close button */
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed; /* Center the modal on the screen */
  z-index: 1000;
}

/* Close button styling */
#closeButton {
  position: absolute;
  top: -15px;
  right: -10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Left container styling */
#leftContainer {
  width: 990px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row; /* Align items in a column */
  justify-content: flex-start; /* Align content to the top */
  align-items: flex-start; /* Align items to the start of the column */
  font-size: 12px;
  padding: 5px;
}


#leftContainer label{
  color: #020140;
}


/* Right container styling */
#rightContainer {
  width: 1000px; /* Adjusted width */
  height: 800px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#lineChart {
  width: 100%; /* Take up the container space */
  height: 100%; /* Responsive height */
  max-width: 980px;
  max-height: 500px; /* Constrain dimensions */
}

.form-group{
  margin-top: 3px;
}

.form-group1{
  left: 32%;
  top: 12px;
  position: absolute;
}

.form-group1 label, input{
  color: black;
}


.form-control{
  color: black;
}

.form-group button{
  width: 100px;
  height: 23px;
  color: white;
  background-color:#020140 ;
  position: absolute;
  right: 20%;
  border-radius: 5px;
}

#createacc{
  height: 400px;
  width: 400px;
  background-color: blue;
  position: fixed;
  z-index: 1000; /* Ensure it appears on top */
  left: 20%;
}

#locationSelect,
#timeframeSelect{
  width: 180px;
}
#locationSelect option,
#timeframeSelect option{
  color: black;
}

.warning-icon-blinking {
  animation: blink-animation 0.5s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#sensorTable {
  width: 100%; /* Adjust the width of the table */
  border-collapse: collapse; /* Collapse the borders between cells */
}

/* Styling for table headers */
#sensorTable th {
  background-color: #17209b; /* Light gray background for the header */
  color: rgb(243, 242, 242); /* Text color in the header */
  padding: 5px 15px; /* Padding inside header cells */
  text-align: center; /* Center align text */
  border: 1px solid grey; /* Black border around header cells */
  font-size: 18px;
}

/* Styling for table data cells */
#sensorTable td {
  color: black; /* Text color inside cells */
  padding: 5px 15px; /* Padding inside data cells */
  text-align: center; /* Center align text in the cells */
  border: 1px solid black; /* Black border around data cells */
  font-size: 14px;
}

/* Make the tbody scrollable */
#sensorTable tbody {
  display: block;
  max-height: 350px; /* Set the height you want */
  overflow-y: auto; /* Enable vertical scrolling */
  width: 100%;
}

#sensorTable thead, #sensorTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.leaflet-popup-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  max-width: 300px;
}
.leaflet-popup-content hr {
  border: none;
  border-top: 1px solid #ccc;
}

#createAccountModal{
  display: none;
  position: fixed;
  height: 380px;
  width: 300px;
  background-color: #010058 ;
  z-index: 4;
  color: #cfe2ff;
  left: 15%;
  top: 20%;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

#createAccountForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#closeaccmodal{
  position: absolute;
  right: 10%;
}

#createAccountForm input, option{
  color: black;
  height: 25px;
  width: 200px;
  padding: 2px;
}

#createAccountForm select{
  color: black;
  height: 28px;
  width: 210px;
  padding: 2px;
  margin-top: 15px;
}

#createAccountModal button{
  margin-top: 20px;
  height: 30px;
  width: 150px;
  background-color: #ff9800;
  border-radius: 5px;
}



#users {
  position: fixed;
  display: none;
  padding: 20px;
  background-color: #020140;
  border-radius: 5px;
  width: 1000px;
  height: 450px;
  top: 17%;
  left: 15%;
  margin: auto;
  z-index: 3;
  flex-direction: column;
}

#userup h4{
  position: absolute;
  font-size: 30px;
  margin-top: 5px;
  margin-left: 3px;
}

#userup input{
  margin-left: 170px;
}

#userup button{
  width: 100px;
}
#userup select{
  width: 150px;
}



#userup input,select,button{
  padding: 3px;
  color: black;
  max-width: 300px;
  border-radius: 5px;
}

#userup select,button{
  margin-left: 20px;
}


#usertable {
  margin-top: 20px;
  overflow-y: auto;
  max-height: 300px;
}

#usertable table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
}

#usertable th,
#usertable td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}

#usertable th {
  background-color: #001a80;
  text-align: center;
  font-weight: 300;
}

#usertable tbody tr:nth-child(even) {
  background-color: #021860;
}

#usertable tbody tr:hover {
  background-color: #003399;
}

#usertable button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#usertable button:first-child {
  background-color: #007bff;
  color: #fff;
}

#usertable button:last-child {
  background-color: #ff4d4d;
  color: #fff;
}

#createbtn{
  position: absolute;
  left: 83%;
  top: 87%;
  padding: 5px;
}

